@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
  --cor-primaria: #B4CF66;
  --cor-secundaria: #146152;
  --cor-terciaria: #9DB2BF;
  --fonte-primaria: 'Lilita One', cursive;
  --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
  font-family: var(--fonte-primaria);
  box-sizing: border-box;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  font-family: var(--fonte-primaria);
  font-size: 5vh;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titulo {
  display: flex;
  justify-content: center;
  margin: 3vh;
}

td {
  border: 1px solid #333;
  width: 10vh;
  height: 10vh;
  text-align: center;
  vertical-align: middle;
}

tr {
  vertical-align: center;
}

thead {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.letras {
  background-color: #146152;
  color: #000000;
}

#titulo_tabela {
  height: 7vh;
  text-align: center;
  vertical-align: middle;
}

#resposta {
  background-color: var(--cor-primaria);
  width: 280px;
  text-align: center;
  border-radius: 2vh;
  padding: 10px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  border: #333 solid 1px;
  font-family: var(--fonte-primaria);
}

.botao_validar {
  background-color: var(--cor-primaria);
  width: 116px;
  text-align: center;
  border-radius: 2vh;
  padding: 10px 0;
  text-decoration: none;
  color: #146152;
  border: #333 solid 1px;
  font-family: var(--fonte-primaria);
}

#campo_de_resposta {
  margin-top: 5vh;
  display: flex;
  gap: 5px;
}

.reset_button{
  background-color: var(--cor-primaria);
  text-align: center;
  border-radius: 2vh;
  padding: 10px 0;
  text-decoration: none;
  color: #146152;
  border: #333 solid 1px;
  font-family: var(--fonte-primaria);
}

@media (max-width: 750px) {
  *{
    margin: 0;
    align-items: center;
  }

  td {
    border: 1px solid #333;
    width: 5vh;
    height: 5vh;
    text-align: center;
    vertical-align: middle;
  }
  
  tr {
    vertical-align: center;
  }

  #resposta{
    width: 170px;
    font-size: 1vh;
  }

  .botao_validar{
    width: 50px;
    font-size: 1vh;
  }
}